-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'USER');

-- CreateEnum
CREATE TYPE "AdvanceMode" AS ENUM ('ONLINE', 'CASH');

-- CreateEnum
CREATE TYPE "BalanceMode" AS ENUM ('ONLINE', 'CASH');

-- CreateEnum
CREATE TYPE "PackingType" AS ENUM ('WITH_PACKING', 'WITHOUT_PACKING');

-- CreateEnum
CREATE TYPE "InvoiceStatus" AS ENUM ('ACTIVE', 'CLOSED');

-- CreateEnum
CREATE TYPE "LeadStatus" AS ENUM ('NEW', 'CONTACTED', 'NEGOTIATING', 'CONVERTED', 'LOST');

-- CreateEnum
CREATE TYPE "WIPPhase" AS ENUM ('RAW_MATERIALS', 'DESIGN', 'PRINTING', 'POST_PRINTING', 'PAYMENT_PENDING');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PAID', 'PARTIAL');

-- CreateEnum
CREATE TYPE "PaymentMode" AS ENUM ('ONLINE', 'CASH', 'UPI', 'BANK_TRANSFER');

-- CreateEnum
CREATE TYPE "ExpenseCategory" AS ENUM ('RENT', 'SALARY', 'ELECTRICITY', 'FUEL', 'INTERNET', 'MISC', 'OTHER');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('CREDIT', 'DEBIT');

-- CreateEnum
CREATE TYPE "TransactionCategory" AS ENUM ('INVOICE_ADVANCE', 'INVOICE_BALANCE', 'INVOICE_FULL_PAYMENT', 'VENDOR_PAYMENT', 'OVERHEAD', 'MISC_INCOME', 'MISC_EXPENSE');

-- CreateEnum
CREATE TYPE "quotation_status" AS ENUM ('draft', 'sent', 'accepted', 'rejected');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "hasSeenOnboarding" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Invoice" (
    "id" TEXT NOT NULL,
    "invoiceNumber" SERIAL NOT NULL,
    "customerName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "brideName" TEXT NOT NULL,
    "groomName" TEXT NOT NULL,
    "modelNumber" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'Uncategorized',
    "description" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "quantity" INTEGER NOT NULL,
    "toleranceQuantity" INTEGER NOT NULL,
    "unitRate" DECIMAL(65,30) NOT NULL,
    "totalAmount" DECIMAL(65,30) NOT NULL,
    "advancePaid" BOOLEAN NOT NULL DEFAULT false,
    "advanceAmount" DECIMAL(65,30),
    "advanceMode" "AdvanceMode",
    "balance" DECIMAL(65,30),
    "balancePaid" BOOLEAN NOT NULL DEFAULT false,
    "balanceMode" "BalanceMode",
    "estimatedDesignTime" TEXT NOT NULL,
    "estimatedPrintTime" TEXT NOT NULL,
    "packing" "PackingType" NOT NULL,
    "printingColor" TEXT,
    "designer" TEXT,
    "printer" TEXT,
    "additionalNotes" TEXT,
    "contentConfirmedOn" TIMESTAMP(3),
    "finalDeliveryDate" TIMESTAMP(3),
    "assigneeId" TEXT NOT NULL,
    "status" "InvoiceStatus" NOT NULL DEFAULT 'ACTIVE',
    "deletedAt" TIMESTAMP(3),
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Invoice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lead" (
    "id" TEXT NOT NULL,
    "customerName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "assignedToId" TEXT NOT NULL,
    "estimatedBillValue" DECIMAL(65,30) NOT NULL,
    "status" "LeadStatus" NOT NULL DEFAULT 'NEW',
    "notes" TEXT,
    "deletedAt" TIMESTAMP(3),
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WIPCard" (
    "id" TEXT NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "invoiceNumber" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "customerName" TEXT NOT NULL,
    "phase" "WIPPhase" NOT NULL DEFAULT 'RAW_MATERIALS',
    "order" INTEGER NOT NULL DEFAULT 0,
    "version" INTEGER NOT NULL DEFAULT 0,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WIPCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FinalCheck" (
    "id" TEXT NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "invoiceNumber" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "designer" TEXT,
    "printer" TEXT,
    "quantity" INTEGER NOT NULL,
    "modelNumber" TEXT NOT NULL,
    "isComplete" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FinalCheck_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WIPChecklist" (
    "id" TEXT NOT NULL,
    "wipCardId" TEXT NOT NULL,
    "phase" "WIPPhase" NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "rm_billNumberVerified" BOOLEAN NOT NULL DEFAULT false,
    "rm_modelNumberVerified" BOOLEAN NOT NULL DEFAULT false,
    "rm_descriptionVerified" BOOLEAN NOT NULL DEFAULT false,
    "rm_quantityVerified" BOOLEAN NOT NULL DEFAULT false,
    "rm_printerAssigned" BOOLEAN NOT NULL DEFAULT false,
    "rm_dtpAssigned" BOOLEAN NOT NULL DEFAULT false,
    "rm_colourExplainedToCustomer" BOOLEAN NOT NULL DEFAULT false,
    "rm_leadTimeExplained" BOOLEAN NOT NULL DEFAULT false,
    "rm_wastageRemarksAdjusted" BOOLEAN NOT NULL DEFAULT false,
    "rm_dtpAssignedAndStarted" BOOLEAN NOT NULL DEFAULT false,
    "d_materialCardsReceived" BOOLEAN NOT NULL DEFAULT false,
    "d_dtpConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "d_cardsStockUpdated" BOOLEAN NOT NULL DEFAULT false,
    "d_currentStockChecked" BOOLEAN NOT NULL DEFAULT false,
    "d_stickersQualityChecked" BOOLEAN NOT NULL DEFAULT false,
    "d_stickerQualityUpdated" BOOLEAN NOT NULL DEFAULT false,
    "d_logoCheckedOnDtp" BOOLEAN NOT NULL DEFAULT false,
    "d_printerScheduleInformed" BOOLEAN NOT NULL DEFAULT false,
    "d_dtpSentToCustomer" BOOLEAN NOT NULL DEFAULT false,
    "p_namePlatesReceived1" BOOLEAN NOT NULL DEFAULT false,
    "p_namePlatesQualityChecked" BOOLEAN NOT NULL DEFAULT false,
    "p_dtpConfirmedByCustomer" BOOLEAN NOT NULL DEFAULT false,
    "p_namePlatesReceivedFinal" BOOLEAN NOT NULL DEFAULT false,
    "p_signaturesFromCustomer" BOOLEAN NOT NULL DEFAULT false,
    "p_leadTimeUpdated" BOOLEAN NOT NULL DEFAULT false,
    "p_leftRightExplained" BOOLEAN NOT NULL DEFAULT false,
    "p_masterTracingsReady" BOOLEAN NOT NULL DEFAULT false,
    "p_samplesCollectedFromDtp" BOOLEAN NOT NULL DEFAULT false,
    "p_masterCheckWithPdfCard" BOOLEAN NOT NULL DEFAULT false,
    "p_timeColourWrittenOnCards" BOOLEAN NOT NULL DEFAULT false,
    "p_timeColourSentInGroup" BOOLEAN NOT NULL DEFAULT false,
    "p_cardOrientationSentToGroup" BOOLEAN NOT NULL DEFAULT false,
    "p_materialSentToPrinter" BOOLEAN NOT NULL DEFAULT false,
    "p_estimatedPrintingDateSet" BOOLEAN NOT NULL DEFAULT false,
    "p_printerFollowUp" BOOLEAN NOT NULL DEFAULT false,
    "p_cardOrientationConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "pp_paddingBoxingScheduled" BOOLEAN NOT NULL DEFAULT false,
    "pp_printedMaterialReceived" BOOLEAN NOT NULL DEFAULT false,
    "pp_printedMaterialQC" BOOLEAN NOT NULL DEFAULT false,
    "pp_cardsToBinder" BOOLEAN NOT NULL DEFAULT false,
    "pp_binderFollowUp" BOOLEAN NOT NULL DEFAULT false,
    "pp_estimatedTimeToBinder" BOOLEAN NOT NULL DEFAULT false,
    "pp_endProductCheck" BOOLEAN NOT NULL DEFAULT false,
    "pp_sampleExchanged" BOOLEAN NOT NULL DEFAULT false,
    "pp_customerInformedBag" BOOLEAN NOT NULL DEFAULT false,
    "pp_customerInformedReadiness" BOOLEAN NOT NULL DEFAULT false,
    "pp_paymentCollected" BOOLEAN NOT NULL DEFAULT false,
    "pp_reminderFollowUp" BOOLEAN NOT NULL DEFAULT false,
    "pp_ratingTaken" BOOLEAN NOT NULL DEFAULT false,
    "pp_checkRatingName" BOOLEAN NOT NULL DEFAULT false,
    "pp_balanceCollected" BOOLEAN NOT NULL DEFAULT false,
    "pay_invoiceAmountConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "pay_paymentReminderSent" BOOLEAN NOT NULL DEFAULT false,
    "pay_partialPaymentReceived" BOOLEAN NOT NULL DEFAULT false,
    "pay_fullPaymentReceived" BOOLEAN NOT NULL DEFAULT false,
    "pay_receiptIssued" BOOLEAN NOT NULL DEFAULT false,
    "isComplete" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WIPChecklist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Purchase" (
    "id" TEXT NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "invoiceNumber" TEXT NOT NULL,
    "customerName" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "billValue" DECIMAL(65,30) NOT NULL,
    "leadSource" TEXT,
    "designer1Name" TEXT,
    "designer1Cost" DECIMAL(65,30) DEFAULT 0,
    "designer1PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "designer1PaymentMode" "PaymentMode",
    "designer2Name" TEXT,
    "designer2Cost" DECIMAL(65,30) DEFAULT 0,
    "designer2PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "designer2PaymentMode" "PaymentMode",
    "printer1Name" TEXT,
    "printer1Cost" DECIMAL(65,30) DEFAULT 0,
    "printer1PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "printer1PaymentMode" "PaymentMode",
    "printer2Name" TEXT,
    "printer2Cost" DECIMAL(65,30) DEFAULT 0,
    "printer2PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "printer2PaymentMode" "PaymentMode",
    "rawMaterial1Name" TEXT,
    "rawMaterial1Cost" DECIMAL(65,30) DEFAULT 0,
    "rawMaterial1PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "rawMaterial1PaymentMode" "PaymentMode",
    "rawMaterial2Name" TEXT,
    "rawMaterial2Cost" DECIMAL(65,30) DEFAULT 0,
    "rawMaterial2PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "rawMaterial2PaymentMode" "PaymentMode",
    "postProcess1Name" TEXT,
    "postProcess1Cost" DECIMAL(65,30) DEFAULT 0,
    "postProcess1PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "postProcess1PaymentMode" "PaymentMode",
    "postProcess2Name" TEXT,
    "postProcess2Cost" DECIMAL(65,30) DEFAULT 0,
    "postProcess2PaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "postProcess2PaymentMode" "PaymentMode",
    "totalDesignerCost" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "totalPrinterCost" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "totalRawMaterialCost" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "totalPostProcessCost" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "totalProductionCost" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "profit" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "profitPercentage" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "notes" TEXT,
    "deletedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Purchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MonthlyExpense" (
    "id" TEXT NOT NULL,
    "month" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "category" "ExpenseCategory" NOT NULL,
    "amount" DECIMAL(65,30) NOT NULL,
    "description" TEXT,
    "paidOn" TIMESTAMP(3),
    "paymentMode" "PaymentMode",
    "createdBy" TEXT NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MonthlyExpense_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CounterTransaction" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type" "TransactionType" NOT NULL,
    "mode" "PaymentMode" NOT NULL,
    "amount" DECIMAL(65,30) NOT NULL,
    "description" TEXT NOT NULL,
    "invoiceId" TEXT,
    "invoiceNumber" TEXT,
    "category" "TransactionCategory" NOT NULL,
    "runningBalance" DECIMAL(65,30) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CounterTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InvoiceCategory" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InvoiceCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quotations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "quotation_number" TEXT NOT NULL,
    "customer_name" TEXT NOT NULL,
    "customer_email" TEXT,
    "customer_phone" TEXT,
    "customer_address" TEXT,
    "items" JSONB NOT NULL DEFAULT '[]',
    "subtotal" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "discount_percent" DECIMAL(5,2) DEFAULT 0,
    "discount_amount" DECIMAL(12,2) DEFAULT 0,
    "tax_percent" DECIMAL(5,2) DEFAULT 0,
    "tax_amount" DECIMAL(12,2) DEFAULT 0,
    "total_amount" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "notes" TEXT,
    "valid_until" DATE,
    "status" "quotation_status" NOT NULL DEFAULT 'draft',
    "created_by" UUID,
    "invoice_id" UUID,
    "created_at" TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMPTZ,
    "company_name" TEXT,
    "job_title" TEXT,
    "category" TEXT,
    "printing_color" TEXT,
    "paper_size" TEXT,
    "paper_type" TEXT,
    "finish_type" TEXT,
    "printing_sides" TEXT,
    "delivery_date" DATE,
    "advance_required" DECIMAL(12,2) DEFAULT 0,
    "payment_terms" TEXT,
    "custom_payment_terms" TEXT,

    CONSTRAINT "quotations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RateLimit" (
    "key" TEXT NOT NULL,
    "count" INTEGER NOT NULL DEFAULT 1,
    "windowStart" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RateLimit_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "ChecklistTemplate" (
    "id" TEXT NOT NULL,
    "phase" "WIPPhase",
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ChecklistTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChecklistItem" (
    "id" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "key" TEXT,
    "order" INTEGER NOT NULL,
    "isRequired" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "ChecklistItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChecklistResponse" (
    "id" TEXT NOT NULL,
    "wipCardId" TEXT,
    "finalCheckId" TEXT,
    "itemId" TEXT NOT NULL,
    "isChecked" BOOLEAN NOT NULL DEFAULT false,
    "checkedAt" TIMESTAMP(3),
    "checkedBy" TEXT,

    CONSTRAINT "ChecklistResponse_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Invoice_invoiceNumber_key" ON "Invoice"("invoiceNumber");

-- CreateIndex
CREATE INDEX "Invoice_status_idx" ON "Invoice"("status");

-- CreateIndex
CREATE INDEX "Invoice_createdAt_idx" ON "Invoice"("createdAt");

-- CreateIndex
CREATE INDEX "Invoice_finalDeliveryDate_idx" ON "Invoice"("finalDeliveryDate");

-- CreateIndex
CREATE INDEX "Invoice_category_idx" ON "Invoice"("category");

-- CreateIndex
CREATE INDEX "Invoice_assigneeId_idx" ON "Invoice"("assigneeId");

-- CreateIndex
CREATE INDEX "Invoice_deletedAt_idx" ON "Invoice"("deletedAt");

-- CreateIndex
CREATE INDEX "Lead_assignedToId_idx" ON "Lead"("assignedToId");

-- CreateIndex
CREATE INDEX "Lead_status_idx" ON "Lead"("status");

-- CreateIndex
CREATE INDEX "Lead_deletedAt_idx" ON "Lead"("deletedAt");

-- CreateIndex
CREATE INDEX "WIPCard_phase_idx" ON "WIPCard"("phase");

-- CreateIndex
CREATE INDEX "WIPCard_deletedAt_idx" ON "WIPCard"("deletedAt");

-- CreateIndex
CREATE INDEX "WIPCard_order_idx" ON "WIPCard"("order");

-- CreateIndex
CREATE UNIQUE INDEX "FinalCheck_invoiceId_key" ON "FinalCheck"("invoiceId");

-- CreateIndex
CREATE INDEX "FinalCheck_deletedAt_idx" ON "FinalCheck"("deletedAt");

-- CreateIndex
CREATE INDEX "FinalCheck_isComplete_idx" ON "FinalCheck"("isComplete");

-- CreateIndex
CREATE INDEX "WIPChecklist_wipCardId_idx" ON "WIPChecklist"("wipCardId");

-- CreateIndex
CREATE INDEX "WIPChecklist_invoiceId_idx" ON "WIPChecklist"("invoiceId");

-- CreateIndex
CREATE INDEX "WIPChecklist_phase_idx" ON "WIPChecklist"("phase");

-- CreateIndex
CREATE UNIQUE INDEX "Purchase_invoiceId_key" ON "Purchase"("invoiceId");

-- CreateIndex
CREATE INDEX "Purchase_completedAt_idx" ON "Purchase"("completedAt");

-- CreateIndex
CREATE INDEX "Purchase_category_idx" ON "Purchase"("category");

-- CreateIndex
CREATE INDEX "Purchase_invoiceId_idx" ON "Purchase"("invoiceId");

-- CreateIndex
CREATE INDEX "Purchase_deletedAt_idx" ON "Purchase"("deletedAt");

-- CreateIndex
CREATE INDEX "Purchase_leadSource_idx" ON "Purchase"("leadSource");

-- CreateIndex
CREATE INDEX "MonthlyExpense_year_month_idx" ON "MonthlyExpense"("year", "month");

-- CreateIndex
CREATE INDEX "MonthlyExpense_category_idx" ON "MonthlyExpense"("category");

-- CreateIndex
CREATE INDEX "MonthlyExpense_deletedAt_idx" ON "MonthlyExpense"("deletedAt");

-- CreateIndex
CREATE INDEX "CounterTransaction_date_idx" ON "CounterTransaction"("date");

-- CreateIndex
CREATE INDEX "CounterTransaction_mode_idx" ON "CounterTransaction"("mode");

-- CreateIndex
CREATE INDEX "CounterTransaction_type_idx" ON "CounterTransaction"("type");

-- CreateIndex
CREATE INDEX "CounterTransaction_category_idx" ON "CounterTransaction"("category");

-- CreateIndex
CREATE INDEX "CounterTransaction_deletedAt_idx" ON "CounterTransaction"("deletedAt");

-- CreateIndex
CREATE INDEX "CounterTransaction_createdAt_idx" ON "CounterTransaction"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "InvoiceCategory_name_key" ON "InvoiceCategory"("name");

-- CreateIndex
CREATE UNIQUE INDEX "quotations_quotation_number_key" ON "quotations"("quotation_number");

-- CreateIndex
CREATE INDEX "ChecklistResponse_wipCardId_idx" ON "ChecklistResponse"("wipCardId");

-- CreateIndex
CREATE INDEX "ChecklistResponse_finalCheckId_idx" ON "ChecklistResponse"("finalCheckId");

-- CreateIndex
CREATE INDEX "ChecklistResponse_itemId_idx" ON "ChecklistResponse"("itemId");

-- AddForeignKey
ALTER TABLE "Invoice" ADD CONSTRAINT "Invoice_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Invoice" ADD CONSTRAINT "Invoice_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WIPCard" ADD CONSTRAINT "WIPCard_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES "Invoice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FinalCheck" ADD CONSTRAINT "FinalCheck_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES "Invoice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WIPChecklist" ADD CONSTRAINT "WIPChecklist_wipCardId_fkey" FOREIGN KEY ("wipCardId") REFERENCES "WIPCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Purchase" ADD CONSTRAINT "Purchase_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES "Invoice"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CounterTransaction" ADD CONSTRAINT "CounterTransaction_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CounterTransaction" ADD CONSTRAINT "CounterTransaction_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES "Invoice"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotations" ADD CONSTRAINT "quotations_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChecklistItem" ADD CONSTRAINT "ChecklistItem_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "ChecklistTemplate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChecklistResponse" ADD CONSTRAINT "ChecklistResponse_wipCardId_fkey" FOREIGN KEY ("wipCardId") REFERENCES "WIPCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChecklistResponse" ADD CONSTRAINT "ChecklistResponse_finalCheckId_fkey" FOREIGN KEY ("finalCheckId") REFERENCES "FinalCheck"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChecklistResponse" ADD CONSTRAINT "ChecklistResponse_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "ChecklistItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

